<div class="container">
  <h1 class="instruction">
    {{type}} {{admin.activeEmployee.name}}
    <small class="subtitle" *ngIf="type === 'Add'">(All fields are required)</small>
  </h1>
  <div class="row-container">
    <div class="label-container">
      <p>Photo</p>
    </div>
    <input class="text-input" id="photo" name="photo" placeholder={{admin.activeEmployee.photo}}
    required="!edit" minlength="4" [(ngModel)]="photo" (ngModelChange)="photo=$event">
  </div>
  <div class="row-container">
    <div class="label-container">
      <p>Department</p>
    </div>
    <input class="text-input" id="dept" name="dept" placeholder={{admin.activeEmployee.dept}}
    required="!edit" minlength="4" [(ngModel)]="dept" (ngModelChange)="dept=$event">
  </div>
  <div class="row-container">
    <div class="label-container">
      <p>Email</p>
    </div>
    <input class="text-input" id="email" name="email" placeholder={{admin.activeEmployee.email}}
    required="!edit" minlength="4" [(ngModel)]="email" (ngModelChange)="email=$event">
  </div>
  <div class="row-container">
    <div class="label-container">
      <p>Title</p>
    </div>
    <input class="text-input" id="title" name="title" placeholder={{admin.activeEmployee.title}}
    required="!edit" minlength="4" [(ngModel)]="title" (ngModelChange)="title=$event">
  </div>
  <div class="row-container">
    <div class="label-container">
      <p>Clients</p>
    </div>
    <admin-topic-card *ngFor="let client of admin.activeEmployee.client" [item]="client"></admin-topic-card>
  </div>
  <div class="button-container">
    <button (click)="showName()">Submit</button>
  </div>
</div>
