.row-container {
    display: inline-flex;
    width: 100%;
}
.button-container {
    padding-top: 1rem;
}
.text-input {
    width: 100%
}
.label-container {
    width: 30%;
}
.container {
    padding: 1rem;
}