<div class="container">
  <h1 class="instruction">
    {{type}} {{admin.activeEmployee.name}}
    <small class="subtitle" *ngIf="type === 'Add'">(All fields are required)</small>
  </h1>
  <admin-input-row [edit]="edit" [title]="'Title'"></admin-input-row>
  <admin-input-row [edit]="edit" [title]="'Photo'"></admin-input-row>
  <admin-input-row [edit]="edit" [title]="'Department'"></admin-input-row>
  <admin-input-row [edit]="edit" [title]="'Email'"></admin-input-row>
  <admin-select-row [title]="'Team'"></admin-select-row>
  <admin-graded-list [title]="'Clients'" (passValue)="handleTopicValueChanged($event)"></admin-graded-list>
  <admin-graded-list [title]="'Skills'" (passValue)="handleTopicValueChanged($event)"></admin-graded-list>
  <div class="button-container">
    <button (click)="ind.showName()">Submit</button>
  </div>
</div>
