<div class="container" [ngSwitch]="admin.adminRoute">
  <div class="button-container">
    <button
      class="category-button"
      *ngFor="let route of admin.adminRoutes"
      id={{admin.checkAdminRoute(route)}}
      value={{route}}
      (click)="admin.updateAdminRoute($event)">{{route}}</button>
  </div>
    <admin-page-individual *ngSwitchCase="'Individual'"></admin-page-individual>
    <admin-page-team *ngSwitchCase="'Team'"></admin-page-team>
    <p *ngSwitchDefault>
      Welcome to the Admin Console
    </p>
</div>
