.top-row {
    display: inline-flex;
}
.subtitle {
    font-size: 1.25rem;
    font-weight: 600;
}
.email {
    font-size: 1.25rem;
    font-weight: 400;
}
.image-container {
    width: 30%;
}
img {
    width: 100%;
}
.basic-info {
    width: 70%;
    padding: 0 1rem;
}
.basic-info-row {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;
}
h1 {
    font-size: 3rem;
    font-weight: 600;
}
h2 {
    font-size: 1.75rem;
    font-weight: 600;
}
p {
    font-size: 1.25rem;
}
.bottom-rows {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.container {
    cursor: not-allowed;
    max-height: 30rem;
    padding: 0.5rem 0;
    overflow-y: scroll;
}
.graded-list-container {
    display: flex;
    flex-direction: column;
}
.skills-container {
    display: flex;
    justify-content: center;
}
shared-graded-list-item {
    margin: 0.5rem 0;
}