<div class="container">
  <div class="top-row">
    <div class="image-container">
      <img src={{data.item.photo}} />
    </div>
    <div class="basic-info">
      <h1>{{data.item.name}}<br>
        <small class="subtitle" *ngIf="data.path === 'cast'">{{data.item.title}}</small><br>
        <small class="email" *ngIf="data.path === 'cast'">{{data.item.email}}</small>
      </h1>
      <div class="basic-info-row">
        <p class="basic-info-item" *ngIf="data.path === 'cast'">Date Hired: {{data.item.hire}}</p>
        <p class="basic-info-item" *ngIf="data.path === 'cast'">Department: {{data.item.dept}}</p>
        <p class="basic-info-item" *ngIf="data.path === 'cast'">Team: {{data.item.team}}</p>
        <p class="basic-info-item">Supervisor: {{data.item.super}}</p>
      </div>
    </div>
  </div>
  <div class="bottom-rows">
    <div class="graded-list-container" id="projects">
      <h2>Projects</h2>
      <shared-graded-list-item *ngFor="let project of data.item.projects" [type]="data.path" [gradedItem]="project"></shared-graded-list-item>
    </div>
    <div class="graded-list-container" id="clients">
      <h2>Clients</h2>
      <shared-graded-list-item *ngFor="let client of data.item.client" [type]="data.path" [gradedItem]="client"></shared-graded-list-item>
    </div>
  </div>
  <div class="skills-container" id="skills" *ngIf="data.path === 'cast'">
    <div class="graded-list-container">
      <h2>Skills</h2>
      <shared-graded-list-item *ngFor="let skill of data.item.skills" [type]="data.path" [gradedItem]="skill"></shared-graded-list-item>
    </div>
  </div>
  <div class="members" *ngIf="data.path === 'teams'">
    <h2>Team Members</h2>
    <div *ngFor="let member of data.item.members" class="team-member">
      <p>{{member.name}}<small class="italics-subtitle"><br/>Time Off:</small></p>
      <shared-pto-display [daysOff]="member.days"></shared-pto-display>
      <hr/>
    </div>
  </div>
  <shared-did-display
    [teamMembers]="data.item.members"
    [daysOff]="daysOffArray"
    [type]="data.path"
    [teamMemberCount]="teamMemberCount"></shared-did-display>
</div>