.container {
    display: inline-flex;
    color: white;
    background-color: rgb(219, 23, 23);
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

button {
    background-color: white;
    border: 1px solid rgb(219, 23, 23);
    border-radius: 50%;
    color: rgb(219, 23, 23);
}
input {
    background-color: inherit;
    border-radius: 25%;
    color: white;
    padding: 0 0.2rem;
    border: 0;
    max-width: 2.75rem;
}
input::placeholder {
    color: white;
}
.title-container {
    padding-right: 0.25rem;
}