.container {
    display: inline-flex;
    color: white;
    background-color: rgb(219, 23, 23);
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    width: 100%;
}

.add-subtract {
    background-color: white;
    border: 1px solid rgb(219, 23, 23);
    border-radius: 50%;
    color: rgb(219, 23, 23);
    margin-right: 0.5rem;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}
input {
    background-color: inherit;
    border-radius: 25%;
    color: white;
    padding: 0 0.2rem;
    border: 0;
    max-width: 2.5rem;
}
input::placeholder {
    color: white;
}
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0.5rem;
}
.title-row {
    display: inline-flex;
}
#false {
    background-color: gainsboro;
    border-color: gainsboro;
    color: black;
}