.container--person-card {
    border: 1px solid black;
    display: inline-flex;
    margin: 0.5rem 0.5rem;
    width: 95%;
}
.container--photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}
img {
    padding-bottom: 0;
    width: 100%;
}
.container--info {
    border-left: 1px solid black;
    width: 90%;
}