<div class="container">
  <div class="button-container">
    <button
      class="toggle-button"
      (click)="toggleMenu()"
      [@toggleAdmin]="toggled ? 'open' : 'closed'">
      <div class="button-label">
        Select {{label}}
        <object *ngIf="!toggled" data="../../../../assets/down-arrow.svg" width="15"></object>
        <object *ngIf="toggled" data="../../../../assets/up-arrow.svg" width="15"></object>
      </div>
      </button>
  </div>
  <div class="menu-container" *ngIf="toggled">
    <button
      class="employee-name"
      *ngFor="let item of items"
      (click)="updateActiveItem($event)"
      value={{stringifyItemToPass(item)}}>{{item.name}}</button>
  </div>
</div>
